*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}
h1{
    color:rgb(248, 182, 14);
    background-color: rgb(0, 0, 0);
    border-radius: 0.8rem;
    padding: 1rem;
}
button{
    padding: 1rem 1.3rem;
    margin: 1rem;
    font-size: 1.4rem;
    border-radius: 0.7rem; 
    box-shadow: 3px 3px 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: back 0.6s ;
}
button:hover{
    background-color: rgba(248, 250, 249, 0.562);
}



























